

header{
    width: 100%;
    height: 100px;
    background-color: #4EA0FF;
    background-image: url("../img/pattern.png");
    background-repeat: repeat-x;
    background-size: contain;
    position:relative;

}

.logo{
    width: 150px;
    position: absolute;
    bottom: 0px;
    padding-left: 10px;
   
}

#the-booleaner{
    color:#20A9E5;
}

.subtitle{
    color: grey;
}

h1{
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.immagini-articolo{
    margin-top: 10px;
}

ul{
    list-style-position: inside;
    padding-left: 0;
}

table{
    width: 100%;
    text-align: left;
    border-spacing: 0px;
}


thead{
    background-color: #4EA0FF;
    color: white;
    margin: 0%;
}

.riga-pari{
    background-color: #B1E5F2; 
    border: 0;
}

h4{
    color: grey;
}

#consigliati1{
    width: 200px;
    height: 150px;
    background-image:url(../img/monitor.jpg);
    background-size: cover;
    color: white;
    padding: 5px;
    font-weight: bold;
}

#consigliati2{
    width: 200px;
    height: 150px;
    background-image:url(../img/graph.jpg);
    background-size: cover;
    color: white;
    padding: 5px;
    font-weight: bold;
    margin-top: 5px;
}