

header{
    width: 100%;
    height: 100px;
    background-color: #4EA0FF;
    background-image: url("../img/pattern.png");
    background-repeat: repeat-x;
    background-size: contain;
    position:relative;

}

.logo{
    width: 150px;
    position: absolute;
    bottom: 0px;
    padding-left: 10px;
   
}

#the-booleaner{
    color:#20A9E5;
}

.subtitle{
    color: grey;
}

h1{
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}